body{
    background-image: url('alessandra.png');
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    /*background-size: cover;*/
    background-attachment: fixed;

}