body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-attachment: #f4f4f4;
    color: #2c3e50;
    margin: 0;
    padding: 20px;
    font-size: 16px;
}

h1{
    text-align: center;
    font-size: 28px;
    color: #2980b9;
}

p{
    line-height: 1.5;
    margin: 10px 0;
    font-size: 1rem;
}

.lorem {
    color: rgb(12, 69, 227);
}

p.lorem {
    text-align: justify;
}

p.lorem#ultimoparagrafo{
    text-align: right;
}

.conteudo{
    width: 50vw;
    height: auto;

}

#botao:hover{
    color:rgb(95, 45, 85);
    background-color: rgb(26, 255, 0);
}

#imagem{
    transition: transform 0.3s ease, opacity 0.3s ease; /*Transição suave*/
    width: 600px;
}

#imagem:hover{
    transform: scale(1.1); /*Aumenta a imagem em 10%"*/
    opacity: 0.8; /*Reduz ligeiramente a opacidade*/
}